# Astro build output & cache
dist/
.astro/

# Node dependencies
node_modules/

# Bundler cache & Ruby (legacy)
.bundle
vendor
.jekyll-cache
.jekyll-metadata
_site
*.gem

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
.obsidian/
Excalidraw/
templates/
